body
  font-family 'Microsoft Yahei'
a
  text-decoration none
input:focus,a:active
  outline 0 none
::-webkit-input-placeholder
  color #a0a0a0
header
  background #56595c
  height 70px
.fl
  float left
.fr
  float right
.icon
  display inline-block
  width 18px
  height 18px
  vertical-align middle
  margin 0 5px
  box-sizing border-box
  &.icon-back
    background url(../img/user/200.png) no-repeat
    background-size contain
  &.icon-ok
    background url(../img/user/203.png) no-repeat
    background-size contain
  &.icon-err
    background url(../img/user/201.png) no-repeat
    background-size contain
  &.icon-qq
    background url(../img/user/202.png) no-repeat
    background-size contain
  &.icon-wx
    background url(../img/user/205.png) no-repeat
    background-size contain
  &.icon-wb
    background url(../img/user/204.png) no-repeat
    background-size contain
.h-inner
  width 1200px
  margin 0 auto
  >a
    color #fff
  .logo
    margin-top 10px
    img
      float left
  .back
    margin-top 26px
  .h-text
    color #fff
    float left
    line-height 1.2
    font-size 24px
    border-left 2px solid #fff
    padding-left 20px
    margin 12px 0 0 20px 
.app-user
  margin 100px auto 0
  width 960px
  .mt5
    margin-top 5px
  .ml10
    margin-left 105px
  .sider
    float left
    width 300px
    margin-left 160px
    box-sizing border-box
    padding-left 45px
    border-left 1px solid #e0e0e0
    .g-block
      margin-top 40px
      width 70%
      a
        margin-top 30px
        display block
  .btn
    color #fff
    font-size 16px
    text-align center
    padding 10px
    display inline-block
    height 42px
    box-sizing border-box
    border 0 none
    vertical-align top
    cursor pointer
    -webkit-transition background-color .2s ease-in
    transition background-color .2s ease-in
  .btn-main
    background-color #30B5F8
    &:hover
      background-color #2C9BD3
  .btn-wechat
    background-color #13c71e
  .btn-weibo
    background-color #ff8042
  .btn-disable
    background-color #bababa
    color #fff
  .btn-block
    display block
    width 100%
  a
    color #30b5f8
  .main
    width 400px
  .line
    margin-bottom 38px
    color #606060
    .tit
      font-size 24px
  .line-field
    margin-top 20px
    position relative
    input[type="text"],input[type="password"]
      border 1px solid #e0e0e0
      width 80%
      font-size 18px
      line-height 30px
      padding 5px
      &:focus
       border 1px solid #30b5f8
      &.short
        width 46%
    .back
      position absolute
      right 16%
      color #666
    .btn-block
      width 83%
    .icon
      position absolute
      right 8%
      top 10px
    .field-tip
      font-size 12px
      margin-top 5px
      color #FE871D
  .invalid
    input[type="text"],input[type="password"]
      border 1px solid #FE871D
.reset-pass
  .main
    margin 0 auto
