<!-- header1.html start -->
<% include include/header1.html %>
<!-- header1.html end -->
<link rel="stylesheet" href="/static/css/activepage.css"/>
</head>
<body>
<!-- nav start -->
<% include include/nav.html %>

<div class="activity-content">
    <div class="activity-content-unit">
        <div class="activity-icon state">
            <span></span>
            正在进行
        </div>
        <div class="poster">
            <img src="../static/img/activecenter/img_01.png" alt="活动1" onclick="activityPage('http://www.haiyao.13322.com/vg/1/activityNotice/activityNewPage.html?thirdparty=')">
        </div>
        <div class="content-detail">
            <h3 onclick="activityPage('http://www.haiyao.13322.com/vg/1/activityNotice/activityNewPage.html?thirdparty=')">活动1</h3>
            <p><span class="activity-time"></span>【活动时间】2017年6月16日11:00 - 2017年6月22日11:00</p>
        </div>
    </div>

    <div class="activity-content-unit">
        <div class="activity-icon state">
            <span></span>
            正在进行
        </div>
        <div class="poster">
            <img src="../static/img/activecenter/img_02.png" alt="活动2" onclick="activityPage('http://www.haiyao.13322.com/vg/1/activityNotice/activityNewPage.html?thirdparty=')">
        </div>
        <div class="content-detail">
            <h3 onclick="activityPage('http://www.haiyao.13322.com/vg/1/activityNotice/activityNewPage.html?thirdparty=')">活动2</h3>
            <p><span class="activity-time"></span>【活动时间】2017年6月19日11:00 - 2017年6月29日11:00</p>
        </div>
    </div>

    <div class="activity-content-unit">
        <div class="activity-icon coming">
            <span></span>
            即将开始
        </div>
        <div class="poster">
            <img src="../static/img/activecenter/img_03.png" alt="活动3">
        </div>
        <div class="content-detail">
            <h3>活动3</h3>
            <p><span class="activity-time"></span>【活动时间】2017年6月26日11:00 - 2017年6月30日11:00</p>
        </div>
    </div>

    <div class="activity-content-unit">
        <div class="activity-icon ended">
            <span></span>
            已经结束
        </div>
        <div class="poster">
            <img src="../static/img/activecenter/img_04.png" alt="活动4" onclick="activityPage('http://www.haiyao.13322.com/vg/1/activityNotice/activityNewPage.html?thirdparty=')">
        </div>
        <div class="content-detail">
            <h3 onclick="activityPage('http://www.haiyao.13322.com/vg/1/activityNotice/activityNewPage.html?thirdparty=')">活动4</h3>
            <p><span class="activity-time"></span>【活动时间】2017年6月06日11:00 - 2017年6月20日11:00</p>
        </div>
    </div>
</div>

<script src="../static/js/activepage.js"></script>

</body>
</html>