<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" type="text/css" href="static/css/base.css">
	<link rel="stylesheet" type="text/css" href="static/css/common.css">
	<link rel="stylesheet" type="text/css" href="static/css/anchorDetail.css">
	<link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
	<script type="text/javascript" src="static/js/jquery.js"></script>
	<script type="text/javascript" src="static/js/swiper.min.js"></script>
	
</head>

<body>
	<div class="wrap">
		<div class="nav">
			<div class="container">
				<img class="logo" src="static/img/logo.png">
				<ul>
					<li><a href="index.html">首页</a></li>
					<li><a href="hall.html">大厅</a></li>
					<li><a class="active" href="anchor.html">主播</a></li>
					<li><a href="rank.html">榜单</a></li>
					<li><a href="activity.html">活动</a></li>
				</ul>
				<div class="s_l">
					<div class="search">
						<input type="text" name="" placeholder="搜房间/主播">
						<a href="javascript:"><img src="static/img/search2.png">&nbsp;</a>
					</div>
					<div class="login">
						<!-- <div class="noLogin">
							<img src="static/img/user-icon.png">
							<a href="javascript:">登录</a>|
							<a href="javascript:">注册</a>
						</div> -->
						<div class="isLogin">
							<img class="headIcon" src="static/img/tou.png">
							<span class="tip">8</span>
							<span class="nickname">用户昵称</span>
							<img class="arrow" src="static/img/icon_down.png">
							<div class="pullDown">
								<div class="pullDownTop">
									<a class="logout" href="javascript:">退出登录</a>
								</div>
								<div class="pullDownCon">
									<img class="headIcon" src="static/img/tou.png">
									<div class="user">
										<div class="username">
											用户姓名
										</div>
										<div class="userinfo">
											<img class="lv" src="static/img/lv1.png">
											<img class="vip" src="static/img/vip2.png">
											<span class="coin"><img src="static/img/icon_coin.png">6000</span>
										</div>
									</div>
								</div>
								<div class="pullDownBot">
									<a href="javascript:">
										<img src="static/img/icon_friend.png"><br>好友
									</a>
									<a href="javascript:">
										<img src="static/img/icon_history.png"><br>历史
									</a>
									<a href="javascript:">
										<img src="static/img/icon_focus.png"><br>关注
									</a>
									<a href="javascript:">
										<img src="static/img/icon_statement.png"><br>报表
									</a>
									<a href="javascript:">
										<img src="static/img/icon_message.png"><span>8</span><br>消息
									</a>
									<a href="javascript:">
										<img src="static/img/icon_integral.png"><br>积分
									</a>
								</div>
							</div>
						</div>
					</div>
					<span class="save">
						<a href="javascript:"><img src="static/img/icon_save.png">
						保存桌面</a>
					</span>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="anchorDetail">
				<div class="container">
					<div class="anchorCon">
						<div class="anchorTitle">
							主播名称有几个字
							<span>
								<a href="javascript:"><i></i> 分享</a>
							</span>
						</div>
						<div class="anchorInfo">
							<div class="anchorLeft">
								<img class="anchorHead" src="static/img/anchor1.png">
								<div class="f_e">
									<a class="focus" href="javascript:"><img src="static/img/icon_love.png">&nbsp;关注</a>
									<!-- <a class="focus" href="javascript:">取消关注</a> -->
									<!-- <a class="enterRoom grey" href="javascript:">未开播</a> -->
									<a class="enterRoom" href="javascript:">进入直播</a>
								</div>
							</div>
							<div class="anchorRight">
								<label>
									<span>直播间：</span>
									德州扑克-主播陪玩
								</label>
								<label>
									<span>粉丝数：</span>
									123456789
								</label>
								<label>
									<span>房间号：</span>
									132465
								</label>
								<label>
									<span>访问数：</span>
									132456
								</label>
								<label>
									<span>房间人数：</span>
									132465
								</label>
								<label>
									<span>上次直播时间：</span>
									2017年4月5日
								</label>
							</div>
						</div>
						<div class="anchorContent">
							<div class="anchorTab">
								<a class="active tabPane" href="javascript:" data-target="#home">主页</a>
								<a class="tabPane" href="javascript:" data-target="#album">相册</a>
								<a class="tabPane" href="javascript:" data-target="#mv">MV</a>
							</div>
							<div id="home" class="tabContent active">
								<div class="info">
									<div class="shotInfo">
										<label>
											<span>性别：</span>女
										</label>
										<label>
											<span>生日：</span>1998年10月10日
										</label>
										<label>
											<span>身高：</span>172cm
										</label>
										<label>
											<span>星座：</span>水瓶座
										</label>
										<label>
											<span>家乡：</span>冰山一角
										</label>
									</div>
									<div>
										<label>
											<span>个性签名：</span>好的开始是成功的一半
										</label>
									</div>
									<div>
										<label>
											<span>兴趣爱好：</span>吃喝玩乐德州扑克
										</label>
									</div>
								</div>
								<div class="album">
									<div class="hTitle">
										<span>相册</span>
									</div>
									<div class="albumList">
										
									</div>
								</div>
							</div>
							<div id="album" class="tabContent">
								2
							</div>
							<div id="mv" class="tabContent">
								3
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="footer">
			<div class="siteinfo">
				<div class="container">
					<div class="contact">
						<div class="weibo">
							<img src="static/img/sinaweibo.png">
							<div class="sinaweibo">
								<a href="javascript:">
									<h4>新浪微博</h4>
									<p>点击链接可关注</p>
								</a>
							</div>
							<br>
							<img src="static/img/qqweibo.png">
							<div class="qqweibo">
								<a href="javascript:">
									<h4>腾讯微博</h4>
									<p>点击链接可关注</p>
								</a>
							</div>
						</div>
						<div class="gongzhonghao">
							<h4>微信公众</h4>
							<p><img src="static/img/erweima.png"></p>
						</div>
						<div class="qqGroup">
							<h4>官方qq群</h4>
							<p>官方qq群：45564614</p>
							<p>官方qq群：45564614</p>
							<p>官方qq群：45564614</p>
						</div>
						<div class="payWay">
							<h4>支付方式</h4>
							<p><img src="static/img/alipay.png"></p>
							<p><img src="static/img/wechatpay.png"></p>
						</div>
					</div>
					<div class="partner">
						<div class="partnerT">
							合作媒体
						</div>
						<div class="partnerC">
							<div class="swiper-container">
								
									<div class="swiper-wrapper">
							            <div class="swiper-slide"><a href="javascript:"><img src="static/img/live1_logo.png"></a></div>
							            <div class="swiper-slide"><a href="javascript:"><img src="static/img/wyx_logo.png"></a></div>
							            <div class="swiper-slide"><a href="javascript:"><img src="static/img/lydj_logo.png"></a></div>
							            <div class="swiper-slide"><a href="javascript:"><img src="static/img/live1_logo.png"></a></div>
							            <div class="swiper-slide"><a href="javascript:"><img src="static/img/wyx_logo.png"></a></div>
							            <div class="swiper-slide"><a href="javascript:"><img src="static/img/lydj_logo.png"></a></div>
							            <div class="swiper-slide"><a href="javascript:"><img src="static/img/live1_logo.png"></a></div>
							            <div class="swiper-slide"><a href="javascript:"><img src="static/img/wyx_logo.png"></a></div>
							            <div class="swiper-slide"><a href="javascript:"><img src="static/img/lydj_logo.png"></a></div>
							        </div>
						    </div>
					    	<div class="swiper-button swiper-button-next"></div>
						    <div class="swiper-button swiper-button-prev"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<div class="copyLine"></div>
					<div class="link">
						<a href="javascript:">用户协议</a>|
						<a href="javascript:">服务条款</a>|
						<a href="javascript:">保护隐私</a>|
						<a href="javascript:">客服系统</a>|
						<a href="javascript:">关于我们</a>
					</div>
					<div class="filing">
						<a target="_blank" href="http://www.miibeian.gov.cn">ICP主体备案号:粤ICP备15041803号-1；粤ICP备15041803-2；版权所有:深圳华海乐盈网络科技有限公司</a>
					</div>
					<div class="attestation">
	                	<a target="_blank" href="http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/toDetail/23a785193a4e456cad125e9730cc7740" ><img src="static/img/internetCom.png" alt="互联网文化经营单位"></a>
	                    <a target="_blank" href="http://www.13322.com/identification.htm" title="可信网站身份验证"><img src="static/img/believable.jpg" alt="可信网站身份验证"></a>
	                    <a target="_blank" href="http://ec.eqixin.com/?sn=QX1172830231601453886313" title="企业信用网站验证"><img src="static/img/footer2.jpg" alt="企业信用网站验证"></a>
	                    <a target="_blank" href="http://www.itrust.org.cn/Home/Index/itrust_certifi?wm=1266776797" title="网信认证-企业信用评级"><img src="static/img/footer3.jpg" alt="网信认证-企业信用评级"></a>
	                    <a target="_blank" href="http://szcert.ebs.org.cn/c5185776-4ece-45e1-afa9-ae61b25bd835" title="网上交易保障中心"><img src="static/img/newGovIcon.gif" width="106px" height="39px" alt="工商网监电子标识"></a>
	                    <a href="http://v.pinpaibao.com.cn/authenticate/cert/?site=www.13322.com&amp;at=business" target="_blank"><img src="static/img/hy_83x30.png" alt="安全联盟认证"></a>
	                    <a href="http://www.dmca.com/Protection/Status.aspx?ID=250d2e8b-abe6-4ff5-9436-d0f907df9d87&amp;refurl=http://www.13322.com/" title="DMCA.com Protection Status"><img src="static/img/dmca_protected_sml_120d.png" alt="DMCA.com Protection Status"></a>
	                </div>
				</div>
			</div>
		</div>
		<div class="scrollTop">回到顶部</div>
	</div>
	<script type="text/javascript" src="static/js/common.js"></script>
	<script type="text/javascript">
		$('.scrollTop').click(function(){
			$('.content').animate({scrollTop: '0px'}, 800);}
		);
		$(".content").scroll(function(){
			viewH =$(this).height();//可见高度  
	        scrollTop =$(this).scrollTop();//滚动高度
	        if(scrollTop+100>viewH){
	        	$(".scrollTop").fadeIn();
	        }
	        else{
	        	$(".scrollTop").fadeOut();
	        }

		})

		var swiper = new Swiper('.swiper-container', {
	        slidesPerView: 5,
	        paginationClickable: true,
	        nextButton: '.swiper-button-next',
        	prevButton: '.swiper-button-prev',
	        spaceBetween: 30
	    });

	</script>
</body>
</html>
