    <% include header.html %>
    <link rel="stylesheet" href="css/rankingList.css">
		<!-- 排行榜start -->
		<div class="ranksMain" >

			<!-- 魅力主播start -->
			<div class="ranksMain-charm fl">
				<h3 class="page-title"><span class="hint hint1"><p class="hintText"><span class="arrow"></span>根据主播获得的礼物总价值排序</p></span>魅力主播榜</h3>
				<ul class="tab-title tab-title1">
					<li class="cur"><a href="javascript:;">日榜</a></li>
					<li id="li1"><a href="javascript:;">周榜</a></li>
					<li id="li2"><a href="javascript:;">月榜</a></li>
					<li id="li3"><a href="javascript:;" class="last">总榜</a></li>
				</ul>	
				<div class="tab-content tab-content1">
					<ol class="ranks-list active">
						<li>
                            <a href="javascript:;" class="ranks-list-top ranks-list-top1" >
                                <div class="ranks-list-con">
                                    <span class="ranks-order">1</span>
                                    <div class="ranks-photo">
                                        <img src="/images/photo1.png" alt="">
                                    </div>
                                    <div class="ranks-rank">
                                        <span class="bore"></span>
                                        <span class="bore boreBlue"></span>
                                    </div>
                                    <p class="depict">多少个</p>
                                    <p class="sum">44万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="ranks-list-top ranks-list-top2" >
                                <div class="ranks-list-con">
                                    <span class="ranks-order">2</span>
                                    <div class="ranks-photo">
                                        <img src="/images/photo1.png" alt="">
                                    </div>
                                    <div class="ranks-rank">
                                        <span class="bore"></span>
                                        <span class="bore boreBlue"></span>
                                    </div>
                                    <p class="depict">1111</p>
                                    <p class="sum">20万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="ranks-list-top ranks-list-top3" >
                                <div class="ranks-list-con">
                                    <span class="ranks-order">3</span>
                                    <div class="ranks-photo">
                                        <img src="/images/photo1.png" alt="">
                                    </div>
                                    <div class="ranks-rank">
                                        <span class="bore"></span>
                                        <span class="bore boreBlue"></span>
                                    </div>
                                    <p class="depict">多少个字都可以</p>
                                    <p class="sum">88万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="ranks-list-bottom">
                                <span class="order">4</span>
                                <div class="ranks-rank">
                                    <span class="depict">哈哈</span>
                                    <span class="bore"></span>
                                    <span class="bore boreBlue"></span>
                                </div>
                                <div class="number">
                                    <span class="play"></span><p class="fl">555.9万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="ranks-list-bottom">
                                <span class="order">5</span>
                                <div class="ranks-rank">
                                    <span class="depict">哈哈</span>
                                    <span class="bore"></span>
                                    <span class="bore boreBlue"></span>
                                </div>
                                <div class="number">
                                    <span class="play"></span><p class="fl">99.9万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="ranks-list-bottom">
                                <span class="order">6</span>
                                <div class="ranks-rank">
                                    <span class="depict">呵呵······</span>
                                    <span class="bore"></span>
                                    <span class="bore boreBlue"></span>
                                </div>
                                <div class="number">
                                    <span class="play"></span><p class="fl">9999.9万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="ranks-list-bottom">
                                <span class="order">7</span>
                                <div class="ranks-rank">
                                    <span class="depict">多少个以</span>
                                    <span class="bore"></span>
                                    <span class="bore boreBlue"></span>
                                </div>
                                <div class="number">
                                    <span class="play"></span><p class="fl">99.9万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="ranks-list-bottom">
                                <span class="order">8</span>
                                <div class="ranks-rank">
                                    <span class="depict">``````````</span>
                                    <span class="bore"></span>
                                    <span class="bore boreBlue"></span>
                                </div>
                                <div class="number">
                                    <span class="play"></span><p class="fl">1.9万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="ranks-list-bottom">
                                <span class="order">9</span>
                                <div class="ranks-rank">
                                    <span class="depict">多少个字都可以</span>
                                    <span class="bore"></span>
                                    <span class="bore boreBlue"></span>
                                </div>
                                <div class="number">
                                    <span class="play"></span><p class="fl">9999.9万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="ranks-list-bottom ranks-last">
                                <span class="order">10</span>
                                <p>虚位以待</p>
                            </a>
                        </li>
					</ol>
					<ol class="ranks-list work1">
					</ol>
					<ol class="ranks-list work2">
					</ol>
					<ol class="ranks-list work3">
					</ol>
				</div>
			</div>
			<!-- 魅力主播end -->



			<!-- 粉丝贡献榜start -->
			<div class="ranksMain-charm ranksMain-fans fr">
				<h3 class="page-title"><span class="hint hint2"><p class="hintText"><span class="arrow"></span>根据用户赠送的礼物总价值排序</p></span>粉丝贡献榜</h3>
				<ul class="tab-title tab-title2">
					<li class="cur" data-open="false"><a href="javascript:;">日榜</a></li>
					<li id="li4"><a href="javascript:;">周榜</a></li>
					<li id="li5"><a href="javascript:;">月榜</a></li>
					<li id="li6"><a href="javascript:;" class="last">总榜</a></li>
				</ul>	
				<div class="tab-content tab-content2">
					<ol class="ranks-list active">
						<li>
                            <a href="javascript:;" class="ranks-list-top ranks-list-top1" >
                                <div class="ranks-list-con">
                                    <span class="ranks-order">1</span>
                                    <div class="ranks-photo">
                                        <img src="/images/photo1.png" alt="">
                                    </div>
                                    <div class="ranks-rank">
                                        <span class="bore"></span>
                                        <span class="bore boreBlue"></span>
                                    </div>
                                    <p class="depict">多少个</p>
                                    <p class="sum">44万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="ranks-list-top ranks-list-top2" >
                                <div class="ranks-list-con">
                                    <span class="ranks-order">2</span>
                                    <div class="ranks-photo">
                                        <img src="/images/photo1.png" alt="">
                                    </div>
                                    <div class="ranks-rank">
                                        <span class="bore"></span>
                                        <span class="bore boreBlue"></span>
                                    </div>
                                    <p class="depict">1111</p>
                                    <p class="sum">20万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="ranks-list-top ranks-list-top3" >
                                <div class="ranks-list-con">
                                    <span class="ranks-order">3</span>
                                    <div class="ranks-photo">
                                        <img src="/images/photo1.png" alt="">
                                    </div>
                                    <div class="ranks-rank">
                                        <span class="bore"></span>
                                        <span class="bore boreBlue"></span>
                                    </div>
                                    <p class="depict">多少个字都可以</p>
                                    <p class="sum">88万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="ranks-list-bottom">
                                <span class="order">4</span>
                                <div class="ranks-rank">
                                    <span class="depict">哈哈</span>
                                    <span class="bore"></span>
                                    <span class="bore boreBlue"></span>
                                </div>
                                <div class="number">
                                    <span class="play"></span><p class="fl">555.9万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="ranks-list-bottom">
                                <span class="order">5</span>
                                <div class="ranks-rank">
                                    <span class="depict">哈哈</span>
                                    <span class="bore"></span>
                                    <span class="bore boreBlue"></span>
                                </div>
                                <div class="number">
                                    <span class="play"></span><p class="fl">99.9万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="ranks-list-bottom">
                                <span class="order">6</span>
                                <div class="ranks-rank">
                                    <span class="depict">呵呵······</span>
                                    <span class="bore"></span>
                                    <span class="bore boreBlue"></span>
                                </div>
                                <div class="number">
                                    <span class="play"></span><p class="fl">9999.9万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="ranks-list-bottom">
                                <span class="order">7</span>
                                <div class="ranks-rank">
                                    <span class="depict">多少个以</span>
                                    <span class="bore"></span>
                                    <span class="bore boreBlue"></span>
                                </div>
                                <div class="number">
                                    <span class="play"></span><p class="fl">99.9万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="ranks-list-bottom">
                                <span class="order">8</span>
                                <div class="ranks-rank">
                                    <span class="depict">``````````</span>
                                    <span class="bore"></span>
                                    <span class="bore boreBlue"></span>
                                </div>
                                <div class="number">
                                    <span class="play"></span><p class="fl">1.9万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="ranks-list-bottom">
                                <span class="order">9</span>
                                <div class="ranks-rank">
                                    <span class="depict">多少个字都可以</span>
                                    <span class="bore"></span>
                                    <span class="bore boreBlue"></span>
                                </div>
                                <div class="number">
                                    <span class="play"></span><p class="fl">9999.9万</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="ranks-list-bottom ranks-last">
                                <span class="order">10</span>
                                <p>虚位以待</p>
                            </a>
                        </li>
					</ol>
					<ol class="ranks-list work4">
					</ol>
					<ol class="ranks-list work5">
					</ol>
					<ol class="ranks-list work6">
					</ol>
				</div>
			</div>
			<!-- 粉丝贡献榜end -->




			<!-- 主播周星榜start -->
			<div class="ranksMain-charm ranksMain-week fl">
				<h3 class="page-title"><span class="hint hint3"><p class="hintText"><span class="arrow"></span>根据主播获得的单类礼物总价值排序</p></span>主播周星榜</h3>
				<ul class="tab-title tab-title3">
					<li class="active"><a href="javascript:;">本周</a></li>
					<li id="li7"><a href="javascript:;" class="last">上周</a></li>
				</ul>	
				<div class="tab-content tab-content3 list1">
					<ol class="ranks-list active">
						<li>
							<div class="ranks-list-bottom">
								<div class="ranks-name">
									<span class="image"><img src="" alt="" width="51px" height="51px"></span>
									111
								</div>
								<div class="ranks-rank">
									<span class="depict">111</span>
									<span class="boreOrange"><img src="" alt=""></span>
									<span class="boreBlue"><img src="" alt=""></span>
								</div>
								<div class="number">
									11万
								</div>
							</div>
						</li>
					</ol>
					<ol class="ranks-list work7">
					</ol>
				</div>
			</div>
			<!-- 主播周星榜end -->



			<!-- 粉丝周星榜start -->
			<div class="ranksMain-charm ranksMain-week fr">
				<h3 class="page-title"><span class="hint hint4"><p class="hintText"><span class="arrow"></span>根据用户赠送的单类礼物总价值排序</p></span>粉丝周星榜</h3>
				<ul class="tab-title tab-title4">
					<li class="active"><a href="javascript:;">本周</a></li>
					<li id="li8"><a href="javascript:;" class="last">上周</a></li>
				</ul>	
				<div class="tab-content tab-content4 list2">
					<ol class="ranks-list active">
						<li>
							<div class="ranks-list-bottom">
								<div class="ranks-name">
									<span class="image"><img src="" alt="" width="51px" height="51px"></span>
									111
								</div>
								<div class="ranks-rank">
									<span class="depict">111</span>
									<span class="boreOrange"><img src="" alt=""></span>
									<span class="boreBlue"><img src="" alt=""></span>
								</div>
								<div class="number">
									11万
								</div>
							</div>
						</li>
					</ol>
					<ol class="ranks-list work8">
					</ol>
				</div>
			</div>
			<!-- 粉丝周星榜end -->




			<!-- 胜利榜start -->
			<div class="ranksMain-charm fl">
				<h3 class="page-title page-title-win"><span class="hint hint5"><p class="hintText"><span class="arrow"></span>用户当天胜率/n当天游戏超过10局可参与</p></span>胜利榜</h3>
				<div class="tab-content">
					<ol class="ranks-list active">
						<li>
							<div href="javascript:;" class="ranks-list-top ranks-list-top1" >
								<div class="ranks-list-con">
									<span class="ranks-order">1</span>
									<div class="ranks-photo">
										<img src="/images/photo1.png" alt="">
									</div>
									<div class="ranks-rank">
										<span class="manage"></span>
										<span class="bore"></span>
										<span class="bore boreBlue"></span>
									</div>
									<p class="depict">都可以</p>
									<p class="sum">88万</p>
								</div>
							</div>
						</li>
						<li>
							<div href="javascript:;" class="ranks-list-top ranks-list-top2" >
								<div class="ranks-list-con">
									<span class="ranks-order">2</span>
									<div class="ranks-photo">
										<img src="/images/photo1.png" alt="">
									</div>
									<div class="ranks-rank">
										<span class="manage"></span>
										<span class="bore"></span>
										<span class="bore boreBlue"></span>
									</div>
									<p class="depict">多少</p>
									<p class="sum">8万</p>
								</div>
							</div>
						</li>
						<li>
							<div href="javascript:;" class="ranks-list-top ranks-list-top3" >
								<div class="ranks-list-con">
									<span class="ranks-order">3</span>
									<div class="ranks-photo">
										<img src="/images/photo1.png" alt="">
									</div>
									<div class="ranks-rank">
										<span class="manage"></span>
										<span class="bore"></span>
										<span class="bore boreBlue"></span>
									</div>
									<p class="depict">多少```以</p>
									<p class="sum">1万</p>
								</div>
							</div>
						</li>
						<li>
							<div class="ranks-list-bottom">
								<span class="order">4</span>
								<div class="ranks-rank">
									<span class="depict">多少个</span>
									<span class="manage"></span>
									<span class="bore"></span>
									<span class="bore boreBlue"></span>
								</div>
								<div class="scale">9999/9999</div>
								<div class="number">
									胜率：88%
								</div>
							</div>
						</li>
					</ol>
				</div>
			</div>
			<!-- 胜利榜end -->



			<!-- 财富榜start -->
			<div class="ranksMain-charm ranksMain-fans fr">
				<h3 class="page-title page-title-win"><span class="hint hint6"><p class="hintText"><span class="arrow"></span>根据用户金币数量排序</p></span>财富榜</h3>
				<div class="tab-content">
					<ol class="ranks-list active">
						<li>
							<div href="javascript:;" class="ranks-list-top ranks-list-top1" >
								<div class="ranks-list-con">
									<span class="ranks-order">1</span>
									<div class="ranks-photo">
										<img src="/images/photo1.png" alt="">
									</div>
									<div class="ranks-rank">
										<span class="manage"></span>
										<span class="bore"></span>
										<span class="bore boreBlue"></span>
									</div>
									<p class="depict">多少个字都可以</p>
									<p class="sum">88万</p>
								</div>
							</div>
						</li>
						<li>
							<div href="javascript:;" class="ranks-list-top ranks-list-top2" >
								<div class="ranks-list-con">
									<span class="ranks-order">2</span>
									<div class="ranks-photo">
										<img src="/images/photo1.png" alt="">
									</div>
									<div class="ranks-rank">
										<span class="manage"></span>
										<span class="bore"></span>
										<span class="bore boreBlue"></span>
									</div>
									<p class="depict">多少个字都可以</p>
									<p class="sum">88万</p>
								</div>
							</div>
						</li>
						<li>
							<div href="javascript:;" class="ranks-list-top ranks-list-top3" >
								<div class="ranks-list-con">
									<span class="ranks-order">3</span>
									<div class="ranks-photo">
										<img src="/images/photo1.png" alt="">
									</div>
									<div class="ranks-rank">
										<span class="manage"></span>
										<span class="bore"></span>
										<span class="bore boreBlue"></span>
									</div>
									<p class="depict">多少个字都可以</p>
									<p class="sum">88万</p>
								</div>
							</div>
						</li>
						<li>
							<div class="ranks-list-bottom">
								<span class="order">4</span>
								<div class="ranks-rank">
									<span class="depict">多少个字都可以</span>
									<span class="manage"></span>
									<span class="bore"></span>
									<span class="bore boreBlue"></span>
								</div>
								<div class="number">
									<p class="fl riches">当前财富：9999.9万</p>
								</div>
							</div>
						</li>
					</ol>
				</div>
			</div>
			<!-- 财富榜end -->
		</div>
		<!-- 排行榜end -->

    </body>


<!-- 魅力主播榜、粉丝贡献榜模板引擎 -->	
<script type="text/template" id="tpl">
	{{each data as value i}}
	        {{if i<3}}
	        <li>
				<a href="javascript:;" class="ranks-list-top ranks-list-top{{i+1}}" >
					<div class="ranks-list-con">
						<span class="ranks-order">{{i+1}}</span>
						<div class="ranks-photo">
							<img src='{{value.imgsrc}}' alt="">
						</div>
						<div class="ranks-rank">
							<span class="boreOrange"><img src='{{value.boreOrange}}' alt=""></span>
							<span class="boreBlue"><img src='{{value.boreBlue}}' alt=""></span>
						</div>
						<p class="depict">{{value.nickName}}</p>
						<p class="sum">{{value.price}}</p>
					</div>
				</a>
			</li>
			{{else}}
			<li>
				<a class="ranks-list-bottom">
					<span class="order">{{i+1}}</span>
					<div class="ranks-rank">
						<span class="depict">{{value.nickName}}</span>
						<span class="boreOrange"><img src='{{value.vip}}' alt=""></span>
						<span class="boreBlue"><img src='{{value.vip}}' alt=""></span>
					</div>
					<div class="number">
						<span class="play"></span><p class="fl shuliang">{{value.price}}</p>
					</div>
				</a>
			</li>
	     {{/if}}
	{{/each}}
</script>

<!-- 主播周星榜、粉丝周星榜模板引擎 -->
<script type="text/template" id="tem">
	{{each data as value i}}
	    <li>
			<div class="ranks-list-bottom">
				<div class="ranks-name">
					<span class="image"><img src={{value.imgsrc}} alt="" width="51px" height="51px"></span>
					{{value.giftName}}
				</div>
				<div class="ranks-rank">
					<span class="depict">{{value.username}}</span>
					<span class="boreOrange"><img src={{value.boreOrange}} alt=""></span>
					<span class="boreBlue"><img src={{value.boreBlue}} alt=""></span>
				</div>
				<div class="number">
					{{value.sum}}</p>
				</div>
			</div>
		</li>
	{{/each}}
</script>
<script type="text/javascript" src="js/api/rankingList.js"></script>

</html>