<div class="footer">
	<div class="siteinfo">
		<div class="container">
			<div class="contact">
				<div class="weibo">
					<img src="/static/img/sinaweibo.png">
					<div class="sinaweibo">
						<a href="javascript:">
							<h4>新浪微博</h4>
							<p>点击链接可关注</p>
						</a>
					</div>
					<br>
					<img src="/static/img/qqweibo.png">
					<div class="qqweibo">
						<a href="javascript:">
							<h4>腾讯微博</h4>
							<p>点击链接可关注</p>
						</a>
					</div>
				</div>
				<div class="gongzhonghao">
					<h4>微信公众</h4>
					<p><img src="/static/img/erweima.png"></p>
				</div>
				<div class="qqGroup">
					<h4>官方qq群</h4>
					<p>官方qq群：45564614</p>
					<p>官方qq群：45564614</p>
					<p>官方qq群：45564614</p>
				</div>
				<div class="payWay">
					<h4>支付方式</h4>
					<p><img src="/static/img/alipay.png"></p>
					<p><img src="/static/img/wechatpay.png"></p>
				</div>
			</div>
			<div class="partner">
				<div class="partnerT">
					合作媒体
				</div>
				<div class="partnerC">
					<div class="swiper-container swiper-footer">
							<div class="swiper-wrapper">
					            <div class="swiper-slide"><a href="javascript:"><img src="/static/img/live1_logo.png"></a></div>
					            <div class="swiper-slide"><a href="javascript:"><img src="/static/img/wyx_logo.png"></a></div>
					            <div class="swiper-slide"><a href="javascript:"><img src="/static/img/lydj_logo.png"></a></div>
					            <div class="swiper-slide"><a href="javascript:"><img src="/static/img/live1_logo.png"></a></div>
					            <div class="swiper-slide"><a href="javascript:"><img src="/static/img/wyx_logo.png"></a></div>
					            <div class="swiper-slide"><a href="javascript:"><img src="/static/img/lydj_logo.png"></a></div>
					            <div class="swiper-slide"><a href="javascript:"><img src="/static/img/live1_logo.png"></a></div>
					            <div class="swiper-slide"><a href="javascript:"><img src="/static/img/wyx_logo.png"></a></div>
					            <div class="swiper-slide"><a href="javascript:"><img src="/static/img/lydj_logo.png"></a></div>
					        </div>
				    </div>
			    	<div class="swiper-button swiper-button-next"></div>
				    <div class="swiper-button swiper-button-prev"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="copyLine"></div>
			<div class="link">
				<a href="javascript:">用户协议</a>|
				<a href="javascript:">服务条款</a>|
				<a href="javascript:">保护隐私</a>|
				<a href="javascript:">客服系统</a>|
				<a href="javascript:">关于我们</a>
			</div>
			<div class="filing">
				<a target="_blank" href="http://www.miibeian.gov.cn">ICP主体备案号:粤ICP备15041803号-1；粤ICP备15041803-2；版权所有:深圳华海乐盈网络科技有限公司</a>
			</div>
			<div class="attestation">
            	<a target="_blank" href="http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/toDetail/23a785193a4e456cad125e9730cc7740" ><img src="/static/img/internetCom.png" alt="互联网文化经营单位"></a>
                <a target="_blank" href="http://www.13322.com/identification.htm" title="可信网站身份验证"><img src="/static/img/believable.jpg" alt="可信网站身份验证"></a>
                <a target="_blank" href="http://ec.eqixin.com/?sn=QX1172830231601453886313" title="企业信用网站验证"><img src="/static/img/footer2.jpg" alt="企业信用网站验证"></a>
                <a target="_blank" href="http://www.itrust.org.cn/Home/Index/itrust_certifi?wm=1266776797" title="网信认证-企业信用评级"><img src="/static/img/footer3.jpg" alt="网信认证-企业信用评级"></a>
                <a target="_blank" href="http://szcert.ebs.org.cn/c5185776-4ece-45e1-afa9-ae61b25bd835" title="网上交易保障中心"><img src="/static/img/newGovIcon.gif" width="106px" height="39px" alt="工商网监电子标识"></a>
                <a href="http://v.pinpaibao.com.cn/authenticate/cert/?site=www.13322.com&amp;at=business" target="_blank"><img src="/static/img/hy_83x30.png" alt="安全联盟认证"></a>
                <a href="http://www.dmca.com/Protection/Status.aspx?ID=250d2e8b-abe6-4ff5-9436-d0f907df9d87&amp;refurl=http://www.13322.com/" title="DMCA.com Protection Status"><img src="/static/img/dmca_protected_sml_120d.png" alt="DMCA.com Protection Status"></a>
            </div>
		</div>
	</div>
</div>