<script type="text/javascript" src= "/static/js/api/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src= "/static/js/libs/layer/layer.js"></script>
<script type="text/javascript" src= "/static/js/api/common.js"></script>
<script type="text/javascript" src= "/static/js/login.js"></script>
<script type="text/javascript" src= "/static/js/api/login.js"></script>
<script type="text/javascript" src="/static/js/personal.js"></script>
<script type="text/javascript" src="/static/js/api/jquery.page.js"></script>
<script type="text/javascript" src="/static/js/libs/template.js"></script>
