<% include ../include/header1.html %>
	<link rel="stylesheet" type="text/css" href="/static/css/personal.css">
	<link rel="stylesheet" type="text/css" href="/static/js/libs/uikit/css/uikit.min.css">
	<link rel="stylesheet" type="text/css" href="/static/js/libs/uikit/css/components/datepicker.almost-flat.min.css">
</head>
<body>
	<div class="wrap">
		<!-- nav start -->
        <% include ../include/nav.html %>
        <!-- nav end -->
		<div class="content">
			<div class="container">
				<div class="myContainer">
					<div class="conLeft">
						<% include mynav.html %>
					</div>
					<!-- 直播记录 start -->
					<div id="livereport" class="conRight">
						<div class="riTitle">
							<span class="titleName active">直播记录</span>
						</div>
						<div>
							<div class="filtrate">
							<form id="cm-form">
								<span>日期：
								<input class="timeSection" type="text" name="startDate" data-uk-datepicker="{format:'YYYY-MM-DD'}">&nbsp;&nbsp;至&nbsp;<input class="timeSection" type="text" name="endDate" data-uk-datepicker="{format:'YYYY-MM-DD'}"></span>
								<span>
									<input class="btn blue searchBtn" type="submit" value="查询">
								</span>
							</form>
							</div>
							<div class="table">
								<table>
									<thead>
										<th>直播时间</th>
										<th>直播ID</th>
										<th>直播时长</th>
									</thead>
									<tbody id="mm_data1">
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- 直播记录 end -->
				</div>
			</div>
		</div>
		<script type="text/thml" id="tpl-smlist">
			{{ if data.list.length == 0}}
			<tr><td colspan="3">暂无直播记录！</td></tr>
			{{/if}}
			{{each data.list }}
				<tr>
					<td>{{$value.startTime}} - {{$value.endTime}}</td>
					<td>{{$value.roomId}}</td>
					<td>{{$value.hour}}小时{{$value.minute}}分钟</td>
				</tr>
			{{/each}}
		</script>
	<script type="text/javascript" src="/static/js/libs/template-web.js"></script>
	<script type="text/javascript" src="/static/js/libs/uikit/js/uikit.min.js"></script>
	<script type="text/javascript" src="/static/js/libs/uikit/js/components/datepicker.min.js"></script>
	<script type="text/javascript" src="/static/js/personal.js"></script>
	<script type="text/javascript" src="/static/js/api/hyapi.js"></script>
	<script type="text/javascript" src="/static/js/setting/livereport.js"></script>
</body>
</html>
